<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::section})}">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <section class="d-flex justify-content-center align-items-center">
    <div class="banner">
      <h1 class="font-weight-bold">Welcome to Smart Contact Manager</h1>
      <p>Start Collecting Your Contacts in simple and easy way</p>
      <button class="btn btn-primary btn-lg ">Get Started</button>
    </div>

  </section>
</body>

</html>