<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::section})}">

<head>
  <meta charset="UTF-8">
  <title>${title}</title>
</head>

<body>
  <section>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="my-card">


            <div th:if="${message}" th:class="'alert ' + ${message.type}" role="alert">
              <p class="mb-0" th:text="${message.content}"></p>
            </div>

            <h1 class="text-center">Register now</h1>
            <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
              <!-- name -->
              <div class="mb-3">
                <label for="name_field" class="form-label">Your Name</label>
                <input type="text" name="name" class="form-control"
                  th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" id="name_field"
                  placeholder="Enter your name" required th:field="*{name}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                  <div th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
                </div>
              </div>

              <!-- email -->
              <div class="mb-3">
                <label for="email_field" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control"
                  th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" id="email_field"
                  placeholder="Enter your email" required th:field="*{email}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}">
                  <div th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>
                </div>
              </div>

              <!-- password -->
              <div class="mb-3">
                <label for="password_field" class="form-label">Password</label>
                <input type="password" name="password" class="form-control"
                  th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" id="password_field"
                  placeholder="Enter your password" required th:field="*{password}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}">
                  <div th:each="e : ${#fields.errors('password')}" th:text="${e}"></div>
                </div>
              </div>

              <!-- About user field -->
              <div class="form-group mb-3">
                <label for="about_field" class="form-label">About</label>
                <textarea name="about" id="about_field" placeholder="Enter something about yourself"
                  class="form-control" rows="5" th:field="*{about}"></textarea>
              </div>

              <!-- terms and conditions -->
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="agreement" name="agreement">
                <label class="form-check-label" for="agreement">I accept the terms and conditions</label>
              </div>

              <div class="container text-center pt-4">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-warning">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>